body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.container{
    padding-top: 5vh;

}
.brand-logo{
    width:40%;
    max-width: 20vw;
    min-width: 15vw;
}

btn-large{
    padding-bottom: 2vh;
}

.arrow{
    color:#b71c1c;
}


@media (min-width: 1000px) {
    .brand-logo{
        max-width: 12vw;
    }

}

