body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.container{
    padding-top: 5vh;
}
.brand-logo img{
    max-width:12vw;
}
.arrow{
    color:#b71c1c;
}